.footer-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #565656;
    color: lightgray;
    text-align: center;
    font-family: futura-pt, sans-serif;
    height: 25%;
    line-height: 2.6;
    position: sticky;
}

#footer-nav-link{
    color:lightgray;
    font-style: oblique;
    margin-top: 30px;
}
#footer-nav-link:hover {
    color: darkgray;
}

#footer-icon-github{
    font-size: 18pt;
    color: darkgray;
    margin-right: 10px;
}

#footer-icon-linkedin{
    font-size: 18pt;
    color: darkgray;
    margin-left: 10px;
}

#footer-icon-github:hover{
    color: lightgray;
}
#footer-icon-linkedin:hover {
    color: lightgray;
}